    
    *,*::before, *::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    html{
            font-size: 62.5%;
    }
    
    body{
        font-size: 1.4rem;
        font-family: 'Open Sans', sans-serif;
        color: hsl(0, 0%, 100%);
    
    }
    
    
    .flex{
        display: flex;
    }
    
    .flex-justify{
        justify-content: center;
    }
    
    .flex-align{
        align-items: center;
    }
    
    
    
    .intro-container{
        background: url('images/bg-curvy-desktop.svg'), hsl(217, 28%, 15%);
    
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        padding:  4rem  7rem 20rem;
    }
    
    
    /* start of header */
    
    .inner-container{
        max-width: 144rem;
        margin: 0 auto;
    }
    
    .intro-header-img-container{
        display: inline-block;
        margin-right: auto;
    }
    
    .intro-header-img{
        max-width: 17.5rem;
        margin-right: auto;
    }
    
    .nav_list{
        list-style-type: none;
    }
    
    .nav-item:not(:last-child){
        margin-right: 4rem;
    }
    
    .nav-item a{
        text-decoration: none;
        color: hsl(0, 0%, 100%);
    
        font-family: 'Raleway', sans-serif;
        display: inline-block;
    }
    
    .nav-item a::after{
        content: '';
        width: 0%;
        height: 0.1rem;
        display: block;
        background-color: hsl(0, 0%, 100%);;
        transition: width 0.3s ease-in-out;
    }
    
    .nav-item a:hover::after{
        width: 100%;
    }
    
    /* end of header */
    
    
    /* start of intro */
    .intro{
        flex-direction: column;
        max-width: 70rem;
        margin: 0 auto;
        text-align: center;
        padding-top: 4rem;
    }
    
    .intro-img-container img{
        max-width: 100%;
        object-fit: cover;
    }
    
    .intro-title{
        font-size: 4rem;
        margin: 4rem 0;
    }
    
    .title{
        font-family: 'Raleway', sans-serif;
    }
    
    .intro-text{
        max-width: 54rem;
        margin: 0rem auto 3.2rem;
        font-size: 1.8rem;
    }
    
    .btn{
            padding: 1.5rem 0;
            border-radius: 10rem;
            border: none;
            cursor: pointer;
            background-image: linear-gradient(to right, #65e2d9 0%, #339ecc 50%);
            background-size: 200% auto;
            color: hsl(0, 0%, 100%);
    
            font-family: 'Ralceway', sans-serif;
            font-size: 1.8rem;
            transition: all 0.3s ease-in-out;
    }
    
     .btn:hover {
       background-position: right center;
     }
    
    .intro-btn{
               max-width: 25rem;
               width: 100%;
    }
    
    /* end of intro */
    
    
    
    /* start of main */
    .main{
        background-color: hsl(218, 28%, 13%);
    
        padding: 0 7rem;
    
    }
    
    
    
    /* start of services section */
    
    .services-types{
        width: 75%;
        margin: 0 auto; 
    }
    
    .services-top, .services-bottom, .productive {
        justify-content: space-between;
    }
    
    .section-cover{
        padding: 7rem 0rem ;
    }
    
    .services-container{ 
        padding-bottom: 7rem;
    }
    
    .service{
         width: 40%;
        text-align: center;
         color: hsl(0, 0%, 100%);
    
    }
    
    .service-img-container{
        height: 8rem;
    }
    
    .service-title{
        font-size: 1.8rem;
        margin-top: 2.5rem;
    }
    
    .service-text{
          font-size: 1.4rem;
          margin-top: 1rem;
    }
    
    .services-top {
        margin-bottom: 8rem;
    }
    
    /* end of services section */
    
    
    /* start of productive section */
    .productive-img-container, .productive-content{
               width: 45%;
    }
    
    .productive-img-container img{
        max-width: 100%;
    }
    
    .productive-title{
         max-width: 32rem;
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }
    
    .productive-text{
        margin-bottom: 2rem;
    }
    
    .productive-link{
        text-decoration: none;
        color:hsl(176, 68%, 64%);
    
        display: inline-block;
    }
    
    .productive-link img{
        position: relative;
        top: 0.3rem;
    }
    
    .productive-link::after{
        content: '';
        width: 100%;
        height: 0.1rem;
        position: relative;
        top: 0.3rem;
        display: block;
        background-color:hsl(176, 68%, 64%);
    
    }
    
    /* end of productive section */
    
    
    
    /* start of testimonials */
    .testimonial{
        justify-content: space-between;
        position: relative;
    
    }
    
    .testimonial::before{
        content: url(images/bg-quotes.png);
        position: absolute;
        top: 3.5rem;
        left: -1rem;
    }
    
      .card{
          width: 32%;
          padding: 3rem 2rem;
          background-color:hsl(219, 30%, 18%);
    
          box-shadow: 0rem 0rem 1rem rgba(53, 53, 53, 0.15);
          z-index: 1;
      }
    
      .card-img{
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          border-radius: 50%;
      }
    
      .card-profile{
          margin-top: 2.5rem;
      }
    
      .card-identity{
            margin-left: 1rem;
      }
    
      .card-identity .card-name{
          display: block;
          font-size: 1.2rem;
          font-weight:700;
    
      }
      .card-identity .card-position{
        font-size: 1rem;
    }
    
    /* end of testimonials */
    
    
    /* start of signup */
    
    
    .signup{
        max-width: 75rem;
        margin: 0 auto;
        background-color: hsl(217, 28%, 15%);
    
        padding:  4.5rem;
        text-align: center;
        position: relative;
        top: 10rem;
    }
    
    .signup-title{
        font-size: 2.5rem;
    }
    
    .signup-text{
        margin: 2.5rem 0;
    }
    
    .signup-input input{
        flex: 1 3 auto;
        height: 4.5rem;
        border-radius: 10rem;
        border: none;
        padding: 0 3rem;
        margin-right: 4rem;
    }
    
    .signup input::placeholder{
        color: hsl(0, 0%, 100%);;
    }
    
    .signup-btn{
        flex: 0 2 auto;
        height: 4.5rem;
        padding: 0 2.5rem;
    }
    /* end of signup */
    
    
    
    /* start of footer */
    
    .footer{
        background-color: hsl(216, 53%, 9%);
    
        padding: 15rem 7rem 7rem;
    }
    
    .footer-content{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: minmax(25rem, 3fr) 2fr  repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5rem;
        align-items: start;
    }
    
    .footer-info-item{
        margin-bottom: 1.5rem;
    }
    
    .footer-content >.footer-info-item:first-child{
        align-items: flex-start;
    }
    
    
    .footer-info-icon{
        width: 1.5rem;
        margin-right: 2.5rem;
    }
    
    .footer-nav-list li{
        list-style-type: none;
        margin-bottom: 1.5rem;
    }
    
    .footer-nav-list a{
        text-decoration: none;
        color: hsl(0, 0%, 100%);
    
        transition: color 0.3s ease-in-out;
    }
    
    .footer-nav-list a:hover{
         color:hsl(176, 68%, 64%);
    
    }
    
    .footer-social-links a{
        text-decoration: none;
        color: hsl(0, 0%, 100%);;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid hsl(0, 0%, 100%);;
        margin: 0 0.5rem;
        transition: all 0.3s ease-in-out;
    }
    
    .footer-social-links a:hover{
        color:hsl(176, 68%, 64%);
    
        border-color:hsl(176, 68%, 64%);
    
    }
    
    
    /* end of footer */
    
    
    
    
    /* Media version */
    @media screen and (max-width: 1100px) {
      .footer-content{
        grid-template-columns: 3fr repeat(3, 1fr);
          grid-template-rows: repeat (2, 1fr);
      }
    
      .footer-contact{
        grid-column: 1 / 2;
        grid-row: 2/ 3;
    } 
    .col_1{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    
    .col_2{
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
    
    }
    
    @media screen and (max-width: 768px) {
        
        
    .intro-container{
        background: url('images/bg-curvy-mobile.svg'), hsl(217, 28%, 15%);
    
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    
      .intro-container, .main, .footer{
          padding-left: 5rem;
          padding-right: 5rem;
      }
    
    .nav-item:not(:last-child){
        margin-right: 3rem;
    }
    
    
      .intro-header-img{
          width: 20%;
          /* width: 12rem; */
      }
    
    .services-top, .services-bottom {
        flex-direction: column;
        margin-bottom: 0;
    }
    
     .service{
        width: 100%;
        margin-bottom: 8rem;
    }
    
    .services-bottom .service:last-child{
        margin-bottom: 0rem;
    }
    
    
    .productive {
        flex-direction: column;
    }
    
    .productive-img-container, .productive-text{
        width: 100%;
    }
    
    .productive-text{
        margin-top: 4rem;
    }
    
    .productive-title{
        max-width: 100%;
    }
    
      .testimonial{
         flex-direction: column;
           /* justify-content: center;
          align-items: center; */
      }
      .card{
          width: 100%;
      }
    
      .card:not(:last-child){
          margin-bottom: 3rem;
      }
    
    
      .signup{
          top: 12rem;
      }
    .signup-input {
        flex-direction: column;
    }
    .signup-input input{
        margin-right: 0;
    }
    
    .signup-btn{
        max-width: 25rem;
        align-self: center;
        margin-top: 3rem;
        font-size: 1.6rem;
    }
    
    .footer-content{
        display: block;
    }
    
    .col_1{
        margin-top: 4rem;
    }
    
    .col_2{
        margin-bottom: 4rem;
    }
    
    .footer-social-links{
        justify-content: center;
    }
    
    }
    
    
    @media screen and (max-width: 500px) {
      
    .nav-item:not(:last-child){
              margin-right: 1rem;
    }
    .testimonial::before{
           transform: scale(0.55);
           left: -1rem;
    }
    
        .intro-container, .main, .footer{
            padding-left: 3rem;
            padding-right: 3rem;
        }
    
    .nav-item a{
             font-size: 1.2rem;
    }
    
        .intro-title {
            font-size: 3rem;
        }
    
    .services-types{
        width: 100%;
    }
    
        .signup-btn{
            font-size: 1.6rem;
        }
    
        .signup{
            padding: 4rem 2rem;
        }
    }
    
    
    